[Desktop Entry]
Hidden=false
X-Enlightenment-Directory-Overlay=/home/vighnesh/Firefox_wallpaper.png
Type=Directory
NoDisplay=false
Version=1.0
Name=Directory look and feel
Name[en_US]=Directory look and feel
